beautifulsoup4==4.8.1
Django==2.2.21
django-blog-zinnia==0.20
django-contrib-comments==1.9.1
django-js-asset==1.2.2
django-mptt==0.10.0
django-tagging==0.4.6
django-xmlrpc==0.1.8
mots-vides==2015.5.11
Pillow==6.2.1
pkg-resources==0.0.0
pyparsing==2.4.5
pytz==2019.3
regex==2019.11.1
soupsieve==1.9.5
sqlparse==0.3.0
